@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --white: #fff;
    --black: #171718;
    --lightblack: #4b6f80;
    --orange: #FFAA01;
    --grey: #e4e4e4;
    --lightgrey: #f6f8f9;

    --primary-text-color: var(--black);
    --secondary-text-color: var(--lightblack);

    --page-bg: var(--grey);
    --content-bg-light: var(--white);
    --content-bg-grey: var(--lightgrey);

    --accent: var(--orange);

    --box-shadow: 0px 4px 74px rgba(69, 69, 69, 0.25);

}

body {
    min-height: 100vh;

    font-family: Montserrat, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    color: var(--primary-text-color);
    background-color: var(--page-bg);
}

.container {
    display: flex;
    column-gap: 30px;
    justify-content: center;

    position: relative;
    padding: 150px 30px;
    min-height: 100vh;

    overflow: hidden;
}

.header-2 {
    font-weight: 700;
    font-size: 30px;
}

.header-3 {
    font-weight: 400;
    font-size: 26px;
}

.header-4 {
    font-weight: 700;
    font-size: 26px;
}

.common-text {
    font-size: 18px;
    font-weight: normal;
    color: var(--lightblack);
    line-height: 1.7;
    text-align: justify;
}


.image-right,
.image-left {
    position: absolute;
    width: 400px;
    height: 400px;
}

.image-right {
    position: absolute;
    top: -20px;
    right: -90px;
    /* z-index: -1; */
}

.image-left {
    position: absolute;
    bottom: -30px;
    left: -90px;
    /* z-index: -1; */
}

.content-container {
    position: relative;
    background: var(--lightgrey);
    box-shadow: var(--box-shadow);
    border-radius: 30px;
}

aside {
    max-width: 370px;
}

.person {
    background-color: var(--white);
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    height: 390px;
}

.person__photo {
    position: absolute;
    width: 230px;
    height: 230px;
    top: -35px;
    border-radius: 50px;
}

.person__header {
    margin-bottom: 24px;
}

.person__header span {
    font-weight: 500;
}

.person__label {
    font-weight: 500;
    background-color: var(--lightgrey);
    border-radius: 75px;
    padding: 4px 24px;
}

.person__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

    padding-top: 30px;
    padding-bottom: 25px;
}

.about {
    display: flex;
    flex-direction: column;
    
    padding: 40px 50px 26px;
}

.about__header {
    color: var(--accent);
    margin-bottom: 30px;
}

.about__contacts-link {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.about__contacts-link:last-child {
    margin-bottom: 50px;
}

.about__contacts-link a {
    color: var(--black);
    font-weight: 500;
    margin-left: 16px;
}

.about__contacts-link a:hover {
    text-decoration: underline;
}

.about__scills-list {
    margin-bottom: 50px;
    margin-left: 20px;
}

.about__scills-list-item {
    color: var(--black);
    font-weight: 500;
    margin-bottom: 15px;
}

.about__btn {
    /* visibility: hidden; */
}

.button {
    background: #FFAA01;
    box-shadow: 0px 4px 15px rgba(255, 170, 1, 0.29);
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0px;
    text-decoration: none;
}

.button:hover {
    background: #fdb628;
}

.button-text {
    color: #F5F7F8;
    font-weight: 500;
    padding-left: 10px;
}

main {
    max-width: 770px;
}

.profile {
    background-color: var(--white);
    border-radius: 30px 30px 0px 0px;
    padding: 30px 40px 30px;
}

.profile__header::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background: var(--accent);
    border-radius: 20px;
    margin-top: 10px;
}

.profile__text {
    margin-top: 16px;
}

.experience {
    padding: 45px 40px 60px;
}

.experience__header {
    margin-bottom: 30px;
}

.experience__list {
    list-style: none;
}

.experience__list-item {
    margin-bottom: 40px;
}

.experience__subheader {
    font-weight: bold;
    margin-bottom: 40px;
}

.experience__subheader span {
    font-weight: bold;
    color: var(--accent);
}

.experience__text,
.experience__pre-text {
    font-weight: 400;
}

.experience__pre-text {
    font-weight: 500;
    margin-bottom: 20px;
}